<div class="row">
    <div class="col-md-12">
        <h1>Cart </h1>
        <ngcart-cart></ngcart-cart>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h1>Checkout </h1>

        <div class="row">
            <div class="col-xs-4 col-md-4">
            </div>
            <div class="col-xs-4 col-md-4">
            </div>
            <div class="col-xs-4 col-md-4">
                <h4>paypal</h4>
                <ngcart-checkout service="paypal" settings="payPalSettings"></ngcart-checkout>
            </div>
        </div>
    </div>
</div>
